body {
  padding-left: 0 !important;
}

.TopMenu {
  background-color: #ff8000;
}

.Tronche {
  height: 100px;
}

#mainNav {
  background: #ff8000;
}

ul li a.nav-link{
  color: white !important;
  opacity: 0.6;
  transition: 0.5s;
}

ul li a.nav-link:hover{
  color: white !important;
    opacity: 1;
      transition: 0.5s;
}

.my-auto {
  margin-left: auto!important;
  margin-right: auto!important;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.my-auto h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.TextHeadoom{
  display: flex;
  flex-direction: column;
  text-align: center;
}
